.account-page-my-resources-click {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 30px 44px;
  width: 1440px;
}

.flex-row-45 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 94px;
  min-width: 1347px;
  position: relative;
}

.place-14 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  width: 107px;
}

.flex-col-27 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 357px;
  min-height: 90px;
  width: 260px;
}

.more-resources-56 {
  letter-spacing: 0;
  min-height: 43px;
  width: 260px;
}

.voucher-tools-7 {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  text-align: right;
  width: 260px;
}

.overlap-group2-36 {
  align-items: flex-start;
  background-color: var(--summer-green);
  border-radius: 92.5px;
  display: flex;
  height: 185px;
  justify-content: flex-end;
  margin-right: 1.0px;
  margin-top: 75px;
  min-width: 185px;
  padding: 37.5px 34.8px;
}

.icon-star-4 {
  height: 109px;
  width: 114px;
}

.overlap-group3-21 {
  height: 436px;
  margin-top: 30px;
  position: relative;
  width: 1330px;
}

.name-3 {
  color: var(--black);
  font-weight: 500;
  left: 519px;
  position: absolute;
  top: 0;
  width: 294px;
}

.overlap-group1-57 {
  align-items: flex-start;
  background-color: var(--polar);
  border-radius: 5px;
  display: flex;
  height: 480px;
  justify-content: flex-end;
  left: 0;
  min-width: 1330px;
  padding: 20px 11px;
  position: absolute;
  top: 103px;
}

.my-saved-resources-1 {
  letter-spacing: 0;
  min-height: 45px;
  width: 566px;
}

.exit {
  letter-spacing: 0;
  margin-left: 650px;
  margin-top: 8px;
  min-height: 29px;
  width: 46px;
}

.resource-section-12 {
  height: 250px;
  left: 18px;
  position: absolute;
  top: 186px;
  width: 1301px;
}

