.icoutline-phone-iphone,
.icoutline-phone-iphone-1 {
  align-items: flex-start;
  display: flex;
  height: 171px;
  left: 271px;
  padding: 7px 34.9px;
  position: absolute;
  top: 225px;
  width: 171px;
}

.icon-mobile,
.icon-mobile-1 {
  height: 157px;
  width: 93px;
}

