.resource-section-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 19.0px;
  margin-top: 12px;
  min-width: 1293px;
}

.overlap-group3-3 {
  border-radius: 2px;
  height: 226px;
  position: relative;
  width: 1293px;
}

.rectangle-26-1 {
  background-color: var(--hippie-blue);
  border-radius: 2px;
  cursor: pointer;
  height: 226px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1293px;
}

.university-district-food-bank {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 13px;
  width: 516px;
}

.our-mission-is-to-bu {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 79px;
  width: 1217px;
}

.rectangle-27-4 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 4px #00000080;
  cursor: pointer;
  height: 50px;
  left: 1041px;
  position: absolute;
  top: 156px;
  width: 222px;
}

.link-to-resource-4 {
  left: 1058px;
  letter-spacing: 0;
  position: absolute;
  top: 168px;
  width: 187px;
}

