.voucher-tools-page-received-expand {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1005px;
  padding: 28px 38px;
  width: 1440px;
}

.flex-row-96 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  min-width: 1360px;
  position: relative;
}

.resource-matching-3 {
  align-self: center;
  color: var(--black);
  font-weight: 500;
  margin-left: 2.0px;
  margin-top: 77px;
  min-height: 68px;
  text-align: center;
  width: 578px;
}

.if-youre-not-sure-w-3 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 12.0px;
  margin-top: 43px;
  min-height: 36px;
  width: 1262px;
}

.click-on-the-section-3 {
  letter-spacing: 0;
  margin-left: 45px;
  margin-top: 37px;
  min-height: 75px;
  width: 960px;
}

.overlap-group-container-10 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 12px;
  min-width: 1307px;
}

.button-container-1 {
  height: 495px;
  position: relative;
  width: 411px;
}

.overlap-group4-25 {
  align-items: flex-start;
  background-color: var(--hippie-blue);
  border-radius: 5px;
  display: flex;
  height: 495px;
  margin-left: 38px;
  min-width: 410px;
  padding: 19px 21px;
}

.ive-applied-for-a-v-7 {
  letter-spacing: 0;
  min-height: 435px;
  width: 368px;
}

.overlap-group3-34 {
  align-items: flex-start;
  background-color: var(--amazon);
  border-radius: 5px;
  display: flex;
  height: 495px;
  justify-content: flex-end;
  margin-left: 38px;
  min-width: 410px;
  padding: 21px 20px;
}

.ive-applied-for-a-v-8 {
  letter-spacing: 0;
  min-height: 75px;
  width: 368px;
}

