.received-voucher-button-1,
.received-voucher-button-2 {
  align-items: flex-start;
  background-color: var(--amazon);
  border-radius: 5px;
  display: flex;
  height: 495px;
  justify-content: flex-end;
  margin-left: 38px;
  min-width: 410px;
  padding: 21px 20px;
}

.ive-applied-for-a-v-5,
.ive-applied-for-a-v-6 {
  letter-spacing: 0;
  min-height: 75px;
  width: 368px;
}

