.voucher-button-v2-1 {
  align-items: center;
  background-color: var(--summer-green);
  border-radius: 5px;
  display: flex;
  height: 124px;
  justify-content: flex-end;
  min-width: 513px;
  padding: 15.5px 24px;
}

.i-have-a-voucher {
  letter-spacing: 0;
  margin-bottom: 17.0px;
  min-height: 47px;
  min-width: 303px;
}

.arrow-1-3 {
  align-self: flex-end;
  height: 29px;
  margin-left: 103px;
  width: 49px;
}

.voucher-button-v2-1.voucher-button-v2-2 {
  background-color: var(--midnight-blue);
}

.voucher-button-v2-1.voucher-button-v2-2 .i-have-a-voucher {
  min-width: 299px;
}

.voucher-button-v2-1.voucher-button-v2-2 .arrow-1-3 {
  margin-left: 107px;
}

