.home-page-v3 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2126px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-right: 42px;
  min-width: 731px;
  position: relative;
}

.overlap-group5-1 {
  height: 2088px;
  margin-right: -132.92px;
  margin-top: 115px;
  position: relative;
  width: 1819px;
}

.overlap-group3 {
  height: 2088px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1819px;
}

.polygon-1 {
  height: 827px;
  left: 1308px;
  position: absolute;
  top: 858px;
  width: 511px;
}

.polygon-2 {
  height: 532px;
  left: 155px;
  position: absolute;
  top: 1556px;
  width: 733px;
}

.ellipse-1 {
  background-color: #bee9e880;
  border-radius: 409px;
  height: 818px;
  left: 0;
  position: absolute;
  top: 167px;
  width: 818px;
}

.title {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 90px;
  font-weight: 500;
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 405px;
}

.connecting-housing-r {
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 345px;
  width: 642px;
}

.whether-youre-a-cas {
  left: 782px;
  letter-spacing: 0;
  position: absolute;
  top: 1376px;
  width: 771px;
}

.emergency-housing-vo {
  left: 818px;
  letter-spacing: 0;
  position: absolute;
  top: 1629px;
  width: 767px;
}

.span1-1 {
  color: #16375e;
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-m);
  font-weight: 400;
  text-decoration: underline;
}

.more-information {
  cursor: pointer;
  left: 706px;
  letter-spacing: 0;
  position: absolute;
  top: 538px;
  width: 520px;
}

.our-services {
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 1370px;
  width: 520px;
}

.we-are-currently-tar {
  left: 782px;
  letter-spacing: 0;
  position: absolute;
  top: 1033px;
  width: 771px;
}

.our-mission {
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 1039px;
  width: 520px;
}

.what-is-an-emergency-housing-voucher {
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 1629px;
  width: 441px;
}

.arrow-2 {
  height: 43px;
  left: 1165px;
  position: absolute;
  top: 547px;
  width: 37px;
}

.no-we-cant-persona {
  left: 782px;
  letter-spacing: 0;
  position: absolute;
  top: 786px;
  width: 771px;
}

.do-we-distribute-vouchers {
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 773px;
  width: 520px;
}

.unsure-which-to-click {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 1088px;
  letter-spacing: 0;
  position: absolute;
  top: 455px;
  width: 241px;
}

.tutorial-buttons-1 {
  align-items: flex-start;
  background-color: var(--amazon);
  border-radius: 5px;
  box-shadow: 3px 3px 4px #00000026;
  cursor: pointer;
  display: flex;
  height: 35px;
  left: 1350px;
  min-width: 225px;
  padding: 8px;
  position: absolute;
  top: 450px;
}

.overlap-group1-14 {
  height: 19px;
  position: relative;
  width: 208px;
}

.get-more-information {
  color: #fffffff2;
  font-family: var(--font-family-roboto);
  font-size: 19px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 201px;
}

.arrow-1-1 {
  height: 11px;
  left: 186px;
  position: absolute;
  top: 5px;
  width: 22px;
}

.voucher-button-v-container {
  height: 262px;
  left: 1088px;
  position: absolute;
  top: 0;
  width: 556px;
}

.voucher-button-v3 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 133px;
  left: 0;
  min-width: 556px;
  position: absolute;
  top: 129px;
}

.voucher-button-v2 {
  align-items: flex-end;
  background-color: #5fa8d3;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  left: 1088px;
  min-width: 513px;
  padding: 8.7px 22px;
  position: absolute;
  top: 315px;
}

.overlap-group2-1 {
  height: 94px;
  position: relative;
  width: 468px;
}

.im-interested-in-other-resources {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 468px;
}

.arrow-1-2 {
  height: 29px;
  left: 417px;
  position: absolute;
  top: 64px;
  width: 49px;
}

