.voucher-tool-v2-tutorial-audio-button {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-col-43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 625px;
  width: 1440px;
}

.flex-row-94 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 10.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group3-31 {
  height: 112px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-34 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-34 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-95 {
  align-items: flex-start;
  display: flex;
  height: 315px;
  margin-left: 39px;
  margin-top: 40px;
  min-width: 699px;
  position: relative;
}

.tutorial-buttons-container-28 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 78px;
  margin-right: 6.0px;
  margin-top: 261px;
  min-width: 1348px;
  position: relative;
}

.tutorial-buttons-129 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.tutorial-buttons-130 {
  cursor: pointer;
  height: 77px;
  margin-left: 493px;
  width: 99px;
}

