.home-page-new-nav-bar-user-logged-in {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2239px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-37 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-right: 17.25px;
  min-width: 756px;
  position: relative;
}

.overlap-group9 {
  height: 2171px;
  margin-right: -132.92px;
  margin-top: 89px;
  position: relative;
  width: 1819px;
}

.overlap-group-container-8 {
  height: 2171px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1819px;
}

.overlap-group7-1 {
  height: 1373px;
  left: 155px;
  position: absolute;
  top: 798px;
  width: 1664px;
}

.polygon-1-2 {
  height: 827px;
  left: 1153px;
  position: absolute;
  top: 86px;
  width: 511px;
}

.polygon-2-3 {
  height: 645px;
  left: 0;
  position: absolute;
  top: 728px;
  width: 733px;
}

.whether-youre-a-cas-2 {
  left: 549px;
  letter-spacing: 0;
  position: absolute;
  top: 605px;
  width: 914px;
}

.emergency-housing-vo-2 {
  left: 694px;
  letter-spacing: 0;
  position: absolute;
  top: 878px;
  width: 796px;
}

.span1-5 {
  text-decoration: underline;
}

.our-services-2 {
  color: var(--black);
  font-weight: 500;
  left: 132px;
  position: absolute;
  top: 591px;
  width: 520px;
}

.we-are-currently-tar-2 {
  left: 549px;
  letter-spacing: 0;
  position: absolute;
  top: 261px;
  width: 914px;
}

.our-mission-2 {
  color: var(--black);
  font-weight: 500;
  left: 132px;
  position: absolute;
  top: 247px;
  width: 520px;
}

.what-is-an-emergency-housing-voucher-2 {
  color: var(--black);
  font-weight: 500;
  left: 132px;
  position: absolute;
  top: 870px;
  width: 520px;
}

.no-we-cant-persona-2 {
  left: 668px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 859px;
}

.overlap-group6-2 {
  height: 1011px;
  left: 0;
  position: absolute;
  top: 0;
  width: 978px;
}

.ellipse-1-2 {
  background-color: var(--jagged-ice);
  border-radius: 409px;
  height: 818px;
  left: 0;
  position: absolute;
  top: 193px;
  width: 818px;
}

.housing-voucher-help-1 {
  color: var(--black);
  font-weight: 500;
  left: 336px;
  position: absolute;
  top: 0;
  width: 405px;
}

.connecting-housing-r-2 {
  left: 336px;
  letter-spacing: 0;
  position: absolute;
  top: 376px;
  width: 642px;
}

.do-we-distribute-vouchers-2 {
  color: var(--black);
  font-weight: 500;
  left: 287px;
  position: absolute;
  top: 790px;
  width: 520px;
}

.overlap-group8-1 {
  height: 76px;
  left: 859px;
  position: absolute;
  top: 579px;
  width: 520px;
}

.more-information-2 {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.arrow-2-2 {
  height: 43px;
  left: 459px;
  position: absolute;
  top: 9px;
  width: 37px;
}

.unsure-which-to-click-1 {
  left: 1088px;
  letter-spacing: 0;
  position: absolute;
  top: 492px;
  width: 241px;
}

.voucher-button-v2-5 {
  align-items: flex-end;
  background-color: var(--shakespeare);
  border-radius: 5px;
  display: flex;
  height: 133px;
  justify-content: flex-end;
  left: 1088px;
  min-width: 556px;
  padding: 11.5px 33px;
  position: absolute;
  top: 172px;
}

.overlap-group3-17 {
  height: 108px;
  position: relative;
  width: 488px;
}

.arrow-1-6 {
  height: 29px;
  left: 434px;
  position: absolute;
  top: 79px;
  width: 54px;
}

.tutorial-buttons-89 {
  align-items: flex-start;
  background-color: var(--amazon);
  border-radius: 5px;
  box-shadow: 3px 3px 4px #00000026;
  cursor: pointer;
  display: flex;
  height: 37px;
  left: 1341px;
  min-width: 225px;
  padding: 8px;
  position: absolute;
  top: 486px;
}

.overlap-group5-6 {
  height: 19px;
  position: relative;
  width: 208px;
}

.get-more-information-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 201px;
}

.arrow-1-7 {
  height: 11px;
  left: 186px;
  position: absolute;
  top: 5px;
  width: 22px;
}

