.account-page-voucher-click {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 30px 44px;
  width: 1440px;
}

.flex-col-26 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 585px;
  width: 1347px;
}

.flex-row-44 {
  align-items: flex-start;
  display: flex;
  height: 94px;
  min-width: 1347px;
  position: relative;
}

.place-13 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  width: 107px;
}

.flex-col-27 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 357px;
  min-height: 90px;
  width: 260px;
}

.more-resources-70 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 43px;
  width: 260px;
}

.voucher-tools-7 {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  text-align: right;
  width: 260px;
}

.overlap-group4-13 {
  height: 420px;
  margin-left: 4.0px;
  margin-top: 71px;
  position: relative;
  width: 973px;
}

.john-doe-1 {
  height: 57px;
  left: 348px;
  position: absolute;
  top: 246px;
  width: 280px;
}

.ellipse-2 {
  height: 193px;
  left: 390px;
  position: absolute;
  top: 0;
  width: 193px;
}

.icon-star-4 {
  height: 117px;
  left: 426px;
  position: absolute;
  top: 38px;
  width: 122px;
}

.rectangle-1-2 {
  height: 1px;
  left: 487px;
  position: absolute;
  top: 376px;
  width: 1px;
}

.profile-completion-2 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 307px;
  width: 973px;
}

.your-profile-is-85-complete-1 {
  height: 37px;
  left: 36px;
  position: absolute;
  top: 332px;
  width: 389px;
}

.overlap-group1-56 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 3px 3px 4px #00000040;
  display: flex;
  flex-direction: column;
  left: 155px;
  min-height: 252px;
  padding: 28px 81px;
  position: absolute;
  top: 168px;
  width: 651px;
}

.pick-up-where-you-le-1 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 58px;
  width: 465px;
}

.overlap-group-container-9 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 4.0px;
  margin-top: 67px;
  min-width: 217px;
}

.overlap-group-79 {
  border-radius: 8px;
  height: 54px;
  position: relative;
  width: 76px;
}

.rectangle-20-1 {
  background-color: var(--amazon);
  border-radius: 8px;
  box-shadow: 3px 3px 4px #00000026;
  cursor: pointer;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

.place-14 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 10px;
}

.overlap-group2-34 {
  align-items: flex-end;
  background-color: var(--amazon);
  border-radius: 8px;
  box-shadow: 3px 3px 4px #00000026;
  display: flex;
  height: 54px;
  margin-left: 65px;
  min-width: 76px;
  padding: 9px 13px;
}

.yes-1 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 35px;
  min-width: 49px;
}

.flex-row-45 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 386px;
  margin-left: 7.0px;
  margin-top: 7px;
  min-width: 1317px;
}

.overlap-group3-19 {
  align-self: flex-end;
  height: 382px;
  position: relative;
  width: 725px;
}

.rectangle-9-3 {
  background-color: var(--apple-green);
  border-radius: 5px;
  filter: blur(4px);;
  height: 364px;
  left: 0;
  position: absolute;
  top: 0;
  width: 709px;
}

.personal-information-3 {
  height: 43px;
  left: 14px;
  position: absolute;
  top: 22px;
  width: 427px;
}

.full-name-john-doe-h {
  height: 226px;
  left: 36px;
  position: absolute;
  top: 156px;
  width: 688px;
}

.edit-3 {
  height: 31px;
  left: 630px;
  position: absolute;
  top: 16px;
  width: 56px;
}

.profile-section-small-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 204px;
  width: 574px;
}

.profile-section-small-2 {
  height: 92px;
  width: 574px;
}

.profile-section-small-3 {
  height: 92px;
  margin-top: 20px;
  width: 574px;
}

