.logo {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 86px;
  margin-left: 438px;
  min-width: 107px;
}

.overlap-group {
  height: 88px;
  margin-top: -2.5px;
  position: relative;
  width: 107px;
}

.icon-home {
  height: 48px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 61px;
}

.hvh {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 46px;
  width: 107px;
}

.logo.logo-1,
.logo.logo-2,
.logo.logo-4,
.logo.logo-6,
.logo.logo-7,
.logo.logo-8,
.logo.logo-11,
.logo.logo-15,
.logo.logo-19,
.logo.logo-20,
.logo.logo-21,
.logo.logo-31,
.logo.logo-32,
.logo.logo-37 {
  align-self: unset;
  margin-left: 436px;
}

.logo.logo-5,
.logo.logo-24 {
  margin-left: unset;
}

.logo.logo-10,
.logo.logo-17,
.logo.logo-18,
.logo.logo-28,
.logo.logo-29 {
  align-self: unset;
  margin-left: 516px;
}

