.voucher-tool-v2-download-info {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1012px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-col-37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 862px;
  width: 1440px;
}

.flex-row-62 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 10.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group4-16 {
  height: 112px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-21 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-21 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-63 {
  align-items: flex-start;
  display: flex;
  margin-left: 39px;
  margin-top: 28px;
  min-width: 1182px;
  position: relative;
}

.overlap-group3-24 {
  height: 564px;
  margin-left: 115px;
  position: relative;
  width: 1011px;
}

.rectangle-35-1 {
  background-color: var(--midnight-blue);
  border-radius: 12px;
  height: 67px;
  left: 265px;
  position: absolute;
  top: 412px;
  width: 183px;
}

.get-summary-via-text-or-email-1 {
  left: 280px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 152px;
}

.rectangle-36-1 {
  background-color: var(--midnight-blue);
  border-radius: 12px;
  height: 67px;
  left: 542px;
  position: absolute;
  top: 412px;
  width: 183px;
}

.download-pdf-of-summary-1 {
  left: 557px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 152px;
}

.tutorial-buttons-container-20 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 78px;
  margin-left: 8.0px;
  margin-top: 24px;
  min-width: 1362px;
  position: relative;
}

.tutorial-buttons-104 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.tutorial-buttons-105 {
  cursor: pointer;
  height: 77px;
  margin-left: 370px;
  width: 236px;
}

