.tip-box {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 253px;
  justify-content: flex-end;
  margin-right: 48px;
  margin-top: 203px;
  min-width: 623px;
  padding: 0 0.0px;
}

.overlap-group-58 {
  height: 232px;
  position: relative;
  width: 573px;
}

.rectangle-6 {
  background-color: var(--white);
  border-radius: 5px;
  height: 191px;
  left: 0;
  position: absolute;
  top: 0;
  width: 573px;
}

.this-button-will-tak {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 526px;
}

.arrow-3 {
  height: 42px;
  left: 510px;
  position: absolute;
  top: 190px;
  width: 22px;
}

.tip-box.tip-box-1,
.tip-box.tip-box-2 {
  align-self: unset;
  left: 0;
  margin-right: unset;
  margin-top: unset;
  position: absolute;
  top: 0;
}

