.text-info {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 564px;
  justify-content: flex-end;
  left: 0;
  min-width: 1011px;
  padding: 1px 58px;
  position: absolute;
  top: 0;
}

.no-documents-are-nee {
  letter-spacing: 0;
  min-height: 533px;
  width: 882px;
}

.text-info.text-info-2 {
  left: unset;
  margin-left: 115px;
  position: unset;
  top: unset;
}

