.voucher-tool-v2-rap {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1012px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-col-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 862px;
  width: 1440px;
}

.flex-row-41 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 10.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group5-7 {
  height: 112px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-12 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-12 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-42 {
  align-items: flex-start;
  display: flex;
  height: 564px;
  margin-left: 39px;
  margin-top: 28px;
  min-width: 1182px;
  position: relative;
}

.tutorial-buttons-container-11 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 78px;
  margin-right: 6.0px;
  margin-top: 24px;
  min-width: 1348px;
  position: relative;
}

.tutorial-buttons-87 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.tutorial-buttons-88 {
  cursor: pointer;
  height: 77px;
  margin-left: 467px;
  width: 125px;
}

