.filter-button-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  left: 356px;
  min-width: 193px;
  padding: 12px 3.7px;
  position: absolute;
  top: 659px;
}

.bedrooms {
  letter-spacing: 0;
  min-height: 26px;
  width: 145px;
}

