.uilimage-download,
.uilimage-download-1 {
  align-items: flex-start;
  display: flex;
  height: 196px;
  left: 535px;
  padding: 7.9px 8.3px;
  position: absolute;
  top: 200px;
  width: 196px;
}

.vector-31,
.vector-32 {
  height: 172px;
  margin-left: 8px;
  width: 172px;
}

