.voucher-tool-v3-download-info {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.overlap-group5-3 {
  height: 1012px;
  position: relative;
  width: 1445px;
}

.voucher-tool-7 {
  color: var(--black);
  font-weight: 500;
  left: 518px;
  position: absolute;
  top: 186px;
  width: 405px;
}

.line-1-7 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 296px;
  width: 1440px;
}

.tutorial-buttons-77 {
  height: 77px;
  left: 43px;
  position: absolute;
  top: 915px;
  width: 99px;
}

.tutorial-buttons-78 {
  height: 77px;
  left: 1169px;
  position: absolute;
  top: 914px;
  width: 236px;
}

.overlap-group2-24 {
  height: 564px;
  left: 215px;
  position: absolute;
  top: 326px;
  width: 1011px;
}

.rectangle-35-1 {
  background-color: var(--midnight-blue);
  border-radius: 12px;
  height: 67px;
  left: 265px;
  position: absolute;
  top: 412px;
  width: 183px;
}

.get-summary-via-text-or-email-1 {
  left: 280px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 152px;
}

.rectangle-36-1 {
  background-color: var(--midnight-blue);
  border-radius: 12px;
  height: 67px;
  left: 542px;
  position: absolute;
  top: 412px;
  width: 183px;
}

.download-pdf-of-summary-1 {
  left: 557px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 152px;
}

.rectangle-60 {
  background-color: #0000002e;
  cursor: pointer;
  height: 1012px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

