.voucher-tool-tutorial-back-button {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 30px 0;
  width: 1440px;
}

.flex-col-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 374px;
  position: relative;
  width: 1440px;
}

.flex-row-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 93px;
  margin-right: 15.0px;
  min-width: 1347px;
  position: relative;
}

.place-2 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  width: 187px;
}

.flex-col-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 357px;
  min-height: 90px;
  width: 260px;
}

.my-account-22 {
  letter-spacing: 0;
  min-height: 43px;
  text-align: right;
  width: 260px;
}

.more-resources-23 {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  text-align: right;
  width: 260px;
}

.overlap-group3-2 {
  height: 112px;
  margin-top: 63px;
  position: relative;
  width: 1440px;
}

.voucher-tool-1 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-5 {
  align-items: flex-end;
  display: flex;
  margin-left: -9px;
  margin-top: 319px;
  min-width: 1400px;
  position: relative;
}

.overlap-group2-16 {
  height: 272px;
  position: relative;
  width: 623px;
}

.tutorial-buttons-40 {
  cursor: pointer;
  height: 77px;
  left: 52px;
  position: absolute;
  top: 192px;
  width: 99px;
}

.tutorial-buttons-61 {
  cursor: pointer;
  height: 77px;
  margin-bottom: 4px;
  margin-left: 464px;
  width: 99px;
}

