.eligibility-questions,
.eligibility-questions-1,
.eligibility-questions-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  min-height: 564px;
  padding: 17px 0;
  width: 1011px;
}

.overlap-group3-9,
.overlap-group3-10,
.overlap-group3-11 {
  align-self: flex-end;
  height: 454px;
  position: relative;
  width: 958px;
}

.overlap-group2-23,
.overlap-group2-24,
.overlap-group2-25 {
  height: 446px;
  left: 0;
  position: absolute;
  top: 0;
  width: 958px;
}

.in-order-to-be-eligi,
.in-order-to-be-eligi-1,
.in-order-to-be-eligi-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 905px;
}

.span0-1,
.span0-2,
.span0-3 {
  line-height: 37px;
}

.span1-1,
.span1-2,
.span1-3 {
  line-height: 25px;
}

.homeless-at-risk-of,
.homeless-at-risk-of-1,
.homeless-at-risk-of-2 {
  left: 119px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 138px;
  width: 839px;
}

.rectangle-12,
.rectangle-12-1,
.rectangle-12-2 {
  background-color: var(--white);
  height: 32px;
  left: 64px;
  position: absolute;
  top: 149px;
  width: 32px;
}

.rectangle-13,
.rectangle-13-1,
.rectangle-13-2 {
  background-color: var(--white);
  height: 32px;
  left: 64px;
  position: absolute;
  top: 204px;
  width: 32px;
}

.rectangle-14,
.rectangle-14-1,
.rectangle-14-2 {
  background-color: var(--white);
  height: 32px;
  left: 64px;
  position: absolute;
  top: 260px;
  width: 32px;
}

.rectangle-15,
.rectangle-15-1,
.rectangle-15-2 {
  background-color: var(--white);
  height: 32px;
  left: 64px;
  position: absolute;
  top: 313px;
  width: 32px;
}

.rectangle-16,
.rectangle-16-1,
.rectangle-16-2 {
  background-color: var(--white);
  height: 32px;
  left: 64px;
  position: absolute;
  top: 369px;
  width: 32px;
}

.rectangle-17,
.rectangle-17-1,
.rectangle-17-2 {
  background-color: var(--white);
  height: 32px;
  left: 64px;
  position: absolute;
  top: 422px;
  width: 32px;
}

.rectangle-18,
.rectangle-18-1,
.rectangle-18-2 {
  background-color: var(--white);
  height: 32px;
  margin-left: 116px;
  margin-top: 23px;
  width: 32px;
}

