.tool-question-screen-3,
.tool-question-screen-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 564px;
  margin-left: 125px;
  min-width: 1011px;
  padding: 0 10px;
}

.overlap-group4-16,
.overlap-group3-24 {
  height: 525px;
  position: relative;
  width: 985px;
}

.overlap-group3-23,
.overlap-group2-38 {
  height: 525px;
  left: 0;
  position: absolute;
  top: 0;
  width: 985px;
}

.welcome-this-tool-i,
.welcome-this-tool-i-1 {
  left: 43px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.click-next-to-cont-1,
.click-next-to-cont-2 {
  left: 469px;
  letter-spacing: 0;
  position: absolute;
  top: 314px;
  width: 516px;
}

.tutorial-1-1,
.tutorial-1-2 {
  height: 385px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 140px;
  width: 431px;
}

.skip-1,
.skip-2 {
  cursor: pointer;
  left: 916px;
  letter-spacing: 0;
  position: absolute;
  top: 469px;
  width: 69px;
}

