.account-page-alt-v2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-39 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 20.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group6-3 {
  height: 850px;
  margin-right: -0.03px;
  margin-top: 54px;
  position: relative;
  width: 1283px;
}

.name-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 204px;
  width: 239px;
}

.overlap-group5-6 {
  height: 850px;
  left: 93px;
  position: absolute;
  top: 0;
  width: 1190px;
}

.rectangle-1-1 {
  border-radius: 5px;
  height: 109px;
  left: 0;
  position: absolute;
  top: 347px;
  width: 941px;
}

.line-4-1 {
  height: 850px;
  left: 246px;
  position: absolute;
  top: 0;
  width: 3px;
}

