.voucher-tool-v3-required-paperwork-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-col-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 862px;
  width: 1440px;
}

.flex-row-52 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 10.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group7-2 {
  height: 112px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-16 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-16 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-53 {
  align-items: flex-start;
  display: flex;
  margin-left: 39px;
  margin-top: 28px;
  min-width: 1182px;
  position: relative;
}

.text-info-6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 564px;
  margin-left: 115px;
  min-width: 1011px;
  padding: 19px 34px;
}

.overlap-group5-8 {
  height: 514px;
  position: relative;
  width: 930px;
}

.no-documents-are-nee-4 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 911px;
}

.overlap-group-80 {
  align-items: flex-start;
  background-color: var(--midnight-blue);
  display: flex;
  height: 86px;
  left: 14px;
  min-width: 916px;
  padding: 17px 19px;
  position: absolute;
  top: 416px;
}

.owner-certification {
  letter-spacing: 0;
  line-height: 45px;
  min-height: 51px;
  white-space: nowrap;
  width: 323px;
}

.overlap-group1-57 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--cornflower);
  border-radius: 12px;
  display: flex;
  height: 42px;
  margin-left: 372px;
  min-width: 183px;
  padding: 9px 15px;
}

.click-for-details-2 {
  letter-spacing: 0;
  min-height: 23px;
  width: 152px;
}

.tutorial-buttons-container-15 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 78px;
  margin-right: 6.0px;
  margin-top: 24px;
  min-width: 1348px;
  position: relative;
}

.tutorial-buttons-95 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.tutorial-buttons-96 {
  cursor: pointer;
  height: 77px;
  margin-left: 493px;
  width: 99px;
}

