.text-field-1 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  border-radius: 5px;
  display: flex;
  height: 70px;
  margin-right: 11.0px;
  margin-top: 76px;
  min-width: 709px;
  padding: 14px 24px;
}

.user-name {
  letter-spacing: 0;
  min-height: 41px;
  min-width: 174px;
}

.text-field-1.text-field-2 {
  margin-top: 39px;
}

.text-field-1.text-field-2 .user-name,
.text-field-1.text-field .user-name {
  min-width: 155px;
}

.text-field-1.text-field-3 {
  margin-left: 1.0px;
  margin-right: unset;
  margin-top: 30px;
}

.text-field-1.text-field-3 .user-name {
  min-width: 158px;
}

.text-field-1.text-field,
.text-field-1.text-field-4,
.text-field-1.text-field-5 {
  margin-left: 1.0px;
  margin-right: unset;
  margin-top: 40px;
}

.text-field-1.text-field-4 .user-name {
  min-width: 310px;
}

