.filter-button-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  left: 578px;
  min-width: 212px;
  padding: 9px 5.4px;
  position: absolute;
  top: 659px;
}

.more-filters {
  letter-spacing: 0;
  min-height: 23px;
  width: 165px;
}

.evaarrow-left-fill-23 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 27px;
  margin-left: 4px;
  padding: 8.2px 5.2px;
  transform: rotate(-90deg);
  width: 28px;
}

.vector-124 {
  height: 10px;
  transform: rotate(90deg);
  width: 14px;
}

