.personal-info-1,
.personal-info-2 {
  align-items: flex-start;
  display: flex;
  height: 431px;
  left: 295px;
  min-width: 895px;
  position: absolute;
  top: 402px;
}

.overlap-group4-15,
.overlap-group3-20 {
  height: 431px;
  position: relative;
  width: 895px;
}

.rectangle-9-2,
.rectangle-9-3 {
  background-color: var(--apple-green);
  border-radius: 5px;
  height: 331px;
  left: 0;
  position: absolute;
  top: 0;
  width: 849px;
}

.personal-information-2,
.personal-information-3 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
  width: 509px;
}

.full-name-john-doe-1,
.full-name-john-doe-2 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 89px;
  width: 877px;
}

.edit-2,
.edit-3 {
  left: 773px;
  letter-spacing: 0;
  position: absolute;
  top: 16px;
  width: 62px;
}

