.resource-section-10 {
  align-items: flex-start;
  display: flex;
  height: 242px;
  left: 0;
  min-width: 1293px;
  position: absolute;
  top: 0;
}

.overlap-group1-51 {
  border-radius: 2px;
  height: 242px;
  position: relative;
  width: 1293px;
}

.rectangle-26-2 {
  background-color: var(--amazon);
  border-radius: 2px;
  cursor: pointer;
  height: 242px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1293px;
}

.housing-choice-vouchers-9 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
}

.the-housing-choice-v-9 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 74px;
  width: 1217px;
}

