.resources-v2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1547px;
  padding: 28px 17.2px;
  position: relative;
  width: 1440px;
}

.flex-row-41 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 88px;
  min-width: 1385px;
  position: relative;
}

.more-resources-54 {
  color: var(--black);
  font-weight: 500;
  margin-left: 2.0px;
  margin-top: 72px;
  min-height: 75px;
  width: 480px;
}

.if-you-have-already-3 {
  letter-spacing: 0;
  margin-right: 12.0px;
  margin-top: 39px;
  min-height: 145px;
  width: 1262px;
}

.span1-6 {
  color: var(--shakespeare);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-weight: 700;
}

.span2 {
  color: var(--shakespeare);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.other-voucher-programs-3 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 65.75px;
  margin-top: 21px;
  min-height: 75px;
  width: 599px;
}

.overlap-group5-7 {
  border-radius: 2px;
  height: 242px;
  margin-left: 19.0px;
  margin-top: 18px;
  position: relative;
  width: 1293px;
}

.housing-choice-vouchers-11 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
}

.the-housing-choice-v-12 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 66px;
  width: 1217px;
}

.food-and-shelter-resources-3 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 65.75px;
  margin-top: 32px;
  min-height: 75px;
  width: 687px;
}

.temporary-housing-resources-3 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 65.75px;
  margin-top: 36px;
  min-height: 75px;
  width: 789px;
}

