.voucher-tool-v2-tutorial-back-button {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-col-42 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 376px;
  position: relative;
  width: 1440px;
}

.flex-row-90 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 10.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group4-21 {
  height: 112px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-33 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-33 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-91 {
  align-items: flex-end;
  display: flex;
  margin-left: -8px;
  margin-top: 322px;
  min-width: 1399px;
  position: relative;
}

.overlap-group3-30 {
  height: 272px;
  position: relative;
  width: 623px;
}

.tutorial-buttons-127 {
  cursor: pointer;
  height: 77px;
  left: 51px;
  position: absolute;
  top: 189px;
  width: 99px;
}

.tutorial-buttons-128 {
  cursor: pointer;
  height: 77px;
  margin-bottom: 7px;
  margin-left: 493px;
  width: 99px;
}

