.tip-box-9 {
  align-items: flex-start;
  display: flex;
  height: 327px;
  justify-content: flex-end;
  left: 0;
  min-width: 643px;
  position: absolute;
  top: 0;
}

.overlap-group3-28 {
  height: 189px;
  position: relative;
  width: 591px;
}

.rectangle-6-10 {
  background-color: var(--white);
  border-radius: 5px;
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 591px;
}

.this-button-will-sav-1 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 16px;
  width: 555px;
}

.arrow-3-10 {
  height: 45px;
  left: 283px;
  position: absolute;
  top: 118px;
  width: 22px;
}

