.voucher-tool-v2-starting-screen {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-54 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-left: 20.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group5-9 {
  align-self: flex-end;
  height: 112px;
  margin-right: -5px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-17 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-17 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-55 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 564px;
  margin-left: 44px;
  margin-top: 28px;
  min-width: 1192px;
  position: relative;
}

.tutorial-buttons-container-16 {
  align-items: center;
  display: flex;
  margin-right: 5.0px;
  margin-top: 24px;
  min-width: 1347px;
  position: relative;
}

.tutorial-buttons-97 {
  cursor: pointer;
  height: 77px;
  margin-left: 493px;
  width: 99px;
}

