.tip-box-1 {
  align-items: flex-start;
  display: flex;
  height: 315px;
  margin-left: 20px;
  min-width: 623px;
}

.overlap-group-22 {
  height: 305px;
  margin-left: -1px;
  position: relative;
  width: 624px;
}

.rectangle-6-1 {
  background-color: var(--white);
  border-radius: 5px;
  height: 127px;
  left: 51px;
  position: absolute;
  top: 0;
  width: 573px;
}

.this-button-will-rea {
  left: 69px;
  letter-spacing: 0;
  position: absolute;
  top: 15px;
  width: 546px;
}

.arrow-3-1 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 52px;
}

