.housing-tool {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1069px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-12 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 20.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group4-5 {
  height: 890px;
  margin-right: -140.04px;
  margin-top: 45px;
  position: relative;
  width: 1490px;
}

.overlap-group3-4 {
  height: 890px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1490px;
}

.polygon-2-2 {
  height: 890px;
  left: 864px;
  position: absolute;
  top: 0;
  width: 626px;
}

.enter-a-neighborhood {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 33px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 463px;
  width: 1210px;
}

.find-a-home {
  color: var(--black);
  font-weight: 500;
  left: 0;
  position: absolute;
  top: 44px;
  width: 405px;
}

.use-your-housing-vou {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 304px;
  width: 605px;
}

.dont-have-a-housing-voucher-yet {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 787px;
  width: 374px;
}

.filter {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 669px;
  width: 93px;
}

.tutorial-buttons-70 {
  align-items: flex-start;
  background-color: var(--hippie-blue);
  border-radius: 5px;
  box-shadow: 3px 3px 4px #00000026;
  cursor: pointer;
  display: flex;
  height: 39px;
  left: 385px;
  min-width: 344px;
  padding: 8px;
  position: absolute;
  top: 781px;
}

.go-to-our-voucher-application-tool {
  letter-spacing: 0;
  min-height: 19px;
  width: 300px;
}

.arrow-1-4 {
  align-self: center;
  height: 11px;
  margin-bottom: 2.31px;
  margin-left: 5px;
  width: 22px;
}

