.text-info,
.text-info-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 564px;
  justify-content: flex-end;
  left: 0;
  min-width: 1011px;
  padding: 1px 58px;
  position: absolute;
  top: 0;
}

.no-documents-are-nee,
.no-documents-are-nee-1 {
  letter-spacing: 0;
  min-height: 533px;
  width: 882px;
}

