.voucher-tool-v3-download-info {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1012px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-35 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-right: 4.0px;
  min-width: 1360px;
  position: relative;
}

.overlap-group3-14 {
  align-self: flex-end;
  height: 112px;
  margin-right: -5px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-11 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-11 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-36 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 44px;
  margin-top: 28px;
  min-width: 1182px;
  position: relative;
}

.overlap-group2-31 {
  height: 564px;
  margin-left: 115px;
  position: relative;
  width: 1011px;
}

.rectangle-35 {
  background-color: var(--midnight-blue);
  border-radius: 12px;
  height: 67px;
  left: 265px;
  position: absolute;
  top: 412px;
  width: 183px;
}

.get-summary-via-text-or-email {
  cursor: pointer;
  left: 280px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 152px;
}

.rectangle-36 {
  background-color: var(--midnight-blue);
  border-radius: 12px;
  height: 67px;
  left: 542px;
  position: absolute;
  top: 412px;
  width: 183px;
}

.download-pdf-of-summary {
  left: 557px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 152px;
}

.tutorial-buttons-container-10 {
  align-items: flex-start;
  display: flex;
  height: 78px;
  margin-left: 8.0px;
  margin-top: 24px;
  min-width: 1362px;
}

.tutorial-buttons-84 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.tutorial-buttons-85 {
  cursor: pointer;
  height: 77px;
  margin-left: 1027px;
  width: 236px;
}

