:root { 
  --amazon: #4a7c59;
  --apple-green: #e2efe9;
  --black: #000000;
  --black-2: #00000066;
  --black-3: #0000008c;
  --black-4: #0000001f;
  --black-5: #00000026;
  --black-6: #0000001a;
  --black-7: #000000cc;
  --cello: #16375e;
  --cornflower: #a3cef1;
  --gunsmoke: #848484;
  --hippie-blue: #6096ba;
  --jagged-ice: #bee9e880;
  --midnight-blue: #274c77;
  --polar: #e4f6f5;
  --shakespeare: #5fa8d3;
  --summer-green: #8fc0a9;
  --white: #ffffff;
  --white-2: #ffffffcc;
  --white-3: #fffffff2;
  --white-4: #ffffff78;
  --wild-sand: #f4f4f4;
 
  --font-size-100px: 100px;
  --font-size-l: 35px;
  --font-size-m: 30px;
  --font-size-s: 28px;
  --font-size-xl: 38px;
  --font-size-xs: 25px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 65px;
 
  --font-family-libre_baskerville: "Libre Baskerville", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-roboto_slab: "Roboto Slab", Helvetica;
}
.header-2 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.header-1big-title {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-100px);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.roboto-normal-summer-green-25px {
  color: var(--summer-green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-summer-green-50px {
  color: var(--summer-green);
  font-family: var(--font-family-roboto);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-summer-green-35px {
  color: var(--summer-green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-30px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-40px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-21px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-29px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-38px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-50px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.robotoslab-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.robotoslab-normal-black-30px-2 {
  color: var(--black-3);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-midnight-blue-25px {
  color: var(--midnight-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.librebaskerville-normal-black-38px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-48px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-gunsmoke-35px {
  color: var(--gunsmoke);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-normal-black-35px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-black-45px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-25px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-55px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
}

.robotoslab-normal-black-35px {
  color: var(--black);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.robotoslab-normal-black-35px-2 {
  color: var(--black-3);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-shakespeare-25px {
  color: var(--shakespeare);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-23px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-summer-green-25px {
  color: var(--summer-green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.robotoslab-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-black-29px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-20px {
  color: var(--white-2);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-white-25px-2 {
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-black-21px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-19px {
  color: var(--white-3);
  font-family: var(--font-family-roboto);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-30px {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-amazon-25px {
  color: var(--amazon);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-summer-green-30px {
  color: var(--summer-green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-21px-2 {
  color: var(--white-4);
  font-family: var(--font-family-roboto);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-normal-cornflower-25px {
  color: var(--cornflower);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-bold-cornflower-25px {
  color: var(--cornflower);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.librebaskerville-normal-white-30px {
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-normal-cello-30px {
  color: var(--cello);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.robotoslab-normal-white-28px {
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.robotoslab-normal-amazon-28px {
  color: var(--amazon);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-bold-black-35px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-black-30px-2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-hippie-blue-25px {
  color: var(--hippie-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.librebaskerville-bold-black-29px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
}

.robotoslab-normal-white-30px {
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.librebaskerville-bold-black-27px {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}

.border-2-5px-black {
  border: 2.5px solid var(--black);
}

.border-1px-black-2 {
  border: 1px solid var(--black-2);
}

.border-3px-summer-green {
  border: 3px solid var(--summer-green);
}

.border-1px-summer-green {
  border: 1px solid var(--summer-green);
}

.border-1px-black-4 {
  border: 1px solid var(--black-4);
}

.border-1-5px-summer-green {
  border: 1.5px solid var(--summer-green);
}
