.logo {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 86px;
  margin-left: 438px;
  min-width: 107px;
}

.overlap-group {
  height: 88px;
  margin-top: -2.5px;
  position: relative;
  width: 107px;
}

.icon-home {
  height: 48px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 61px;
}

.hvh {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 46px;
  width: 107px;
}

.logo.logo-1 {
  cursor: unset;
  margin-left: unset;
}

.logo.logo-5 {
  align-self: unset;
  cursor: unset;
  left: 667px;
  margin-left: unset;
  position: absolute;
  top: 30px;
}

