.progress-saved-pop-up {
  align-items: center;
  background-color: var(--shakespeare);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: calc(50vw - 722.5px);
  min-width: 1445px;
  padding: 0 31px;
  position: relative;
}

.progress-has-been-sa {
  letter-spacing: 0;
  min-height: 38px;
  width: 973px;
}

