.voucher-tool-v3-next-steps {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1012px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-col-22 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -5px;
  min-height: 270px;
  width: 1440px;
}

.flex-row-35 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-right: 14.0px;
  min-width: 1360px;
  position: relative;
}

.overlap-group3-16 {
  height: 112px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-12 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-12 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-36 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 666px;
  margin-right: 6.0px;
  margin-top: 28px;
  min-width: 1348px;
}

.tutorial-buttons-container-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 641px;
  position: relative;
  width: 99px;
}

.tutorial-buttons-87 {
  cursor: pointer;
  height: 77px;
  margin-top: 511px;
  width: 99px;
}

.overlap-group2-33 {
  align-self: flex-start;
  height: 608px;
  margin-left: 73px;
  position: relative;
  width: 1011px;
}

.text-info-3 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 564px;
  left: 0;
  min-width: 1011px;
  padding: 0 24px;
  position: absolute;
  top: 0;
}

.if-youre-connected {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -8px;
  min-height: 533px;
  width: 960px;
}

.giving-voucher-1 {
  height: 441px;
  left: 646px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 365px;
}

.tutorial-buttons-88 {
  cursor: pointer;
  height: 77px;
  margin-bottom: 1px;
  margin-left: 66px;
  width: 99px;
}

