.voucher-tool-v3-tutorial-next-button {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  position: relative;
  width: 1440px;
}

.flex-row-27 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-right: 4.0px;
  min-width: 1360px;
  position: relative;
}

.overlap-group2-13 {
  align-self: flex-end;
  height: 112px;
  margin-right: -5px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-11 {
  color: var(--black);
  font-weight: 500;
  left: 512px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-11 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-28 {
  align-items: flex-start;
  display: flex;
  height: 330px;
  margin-right: 6.0px;
  margin-top: 258px;
  min-width: 1348px;
}

.tutorial-buttons-32 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.overlap-group3-7 {
  height: 329px;
  margin-left: 626px;
  position: relative;
  width: 623px;
}

.tutorial-buttons-33 {
  cursor: pointer;
  height: 77px;
  left: 524px;
  position: absolute;
  top: 252px;
  width: 99px;
}

