.voucher-button-v2-1 {
  align-items: flex-end;
  background-color: var(--midnight-blue);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 133px;
  justify-content: flex-end;
  left: 1088px;
  min-width: 556px;
  padding: 11.5px 33px;
  position: absolute;
  top: 330px;
}

.overlap-group-63 {
  height: 101px;
  position: relative;
  width: 488px;
}

.i-have-a-voucher-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 486px;
}

.arrow-1-5 {
  height: 29px;
  left: 434px;
  position: absolute;
  top: 72px;
  width: 54px;
}

.voucher-button-v2-1.voucher-button-v2-2,
.voucher-button-v2-1.voucher-button-v2-4 {
  background-color: var(--summer-green);
  top: 15px;
}

.voucher-button-v2-1.voucher-button-v2-2 .arrow-1-5,
.voucher-button-v2-1.voucher-button-v2-3 .arrow-1-5,
.voucher-button-v2-1.voucher-button-v2-4 .arrow-1-5 {
  cursor: pointer;
}

