.progress-saved-pop-up-3 {
  align-items: center;
  background-color: var(--shakespeare);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: calc(50vw - 722.5px);
  min-width: 1445px;
  padding: 0 31px;
  position: relative;
}

.progress-has-been-sa-1 {
  letter-spacing: 0;
  min-height: 38px;
  width: 973px;
}

.bix-circle {
  align-items: flex-start;
  display: flex;
  height: 37px;
  margin-bottom: 1.0px;
  margin-left: 327px;
  position: relative;
  width: 37px;
}

