.resource-section-8 {
  align-items: flex-start;
  background-color: var(--midnight-blue);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 242px;
  padding: 14px 21px;
  position: absolute;
  top: 0;
  width: 1293px;
}

.housing-choice-vouchers-8 {
  letter-spacing: 0;
  min-height: 47px;
}

.the-housing-choice-v-8 {
  letter-spacing: 0;
  margin-top: 13px;
  min-height: 73px;
  width: 1217px;
}

.resource-section-8.resource-section-9,
.resource-section-8.resource-section-11 {
  background-color: var(--amazon);
  left: unset;
  margin-left: 19.0px;
  position: unset;
  top: unset;
}

