.voucher-tools-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1005px;
  padding: 28px 38px;
  width: 1440px;
}

.flex-row-14 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  min-width: 1360px;
  position: relative;
}

.resource-matching-1 {
  align-self: center;
  color: var(--black);
  font-weight: 500;
  margin-left: 2.0px;
  margin-top: 75px;
  min-height: 68px;
  text-align: center;
  width: 526px;
}

.if-youre-not-sure-w-1 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 12.0px;
  margin-top: 45px;
  min-height: 36px;
  width: 1262px;
}

.click-on-the-section-1 {
  letter-spacing: 0;
  margin-left: 45px;
  margin-top: 37px;
  min-height: 75px;
  width: 960px;
}

.flex-row-15 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 495px;
  margin-right: 12px;
  min-width: 1307px;
  position: relative;
}

