.tutorial-buttons-36 {
  align-items: center;
  align-self: center;
  background-color: var(--summer-green);
  border-radius: 5px;
  box-shadow: 3px 3px 4px #00000026;
  display: flex;
  height: 67px;
  margin-bottom: 3.0px;
  margin-left: 529px;
  min-width: 157px;
  padding: 0 11px;
}

.save-data {
  letter-spacing: 0;
  min-height: 35px;
  min-width: 135px;
}

.tutorial-buttons-36.tutorial-buttons-38 {
  align-self: unset;
  margin-bottom: 10px;
  margin-left: 57px;
}

.tutorial-buttons-36.tutorial-buttons-41 {
  align-self: unset;
  cursor: pointer;
  margin-bottom: 2.0px;
  margin-left: 416px;
}

.tutorial-buttons-36.tutorial-buttons-42,
.tutorial-buttons-36.tutorial-buttons-46,
.tutorial-buttons-36.tutorial-buttons-47,
.tutorial-buttons-36.tutorial-buttons-50,
.tutorial-buttons-36.tutorial-buttons-54,
.tutorial-buttons-36.tutorial-buttons-55,
.tutorial-buttons-36.tutorial-buttons-58 {
  cursor: pointer;
  margin-left: 500px;
}

.tutorial-buttons-36.tutorial-buttons-43,
.tutorial-buttons-36.tutorial-buttons-44,
.tutorial-buttons-36.tutorial-buttons-45,
.tutorial-buttons-36.tutorial-buttons-48,
.tutorial-buttons-36.tutorial-buttons-49,
.tutorial-buttons-36.tutorial-buttons-53 {
  cursor: pointer;
}

.tutorial-buttons-36.tutorial-buttons-51 {
  align-self: unset;
  cursor: pointer;
  margin-bottom: 2.0px;
  margin-left: 387px;
}

.tutorial-buttons-36.tutorial-buttons-52 {
  align-self: unset;
  cursor: pointer;
  left: 427px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 592px;
}

.tutorial-buttons-36.tutorial-buttons-56 {
  align-self: unset;
  left: 269px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 188px;
}

.tutorial-buttons-36.tutorial-buttons-57 {
  align-self: unset;
  left: 0;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 256px;
}

.tutorial-buttons-36.tutorial-buttons-59 {
  align-self: unset;
  margin-bottom: 13px;
  margin-left: 27px;
}

.tutorial-buttons-36.tutorial-buttons-60 {
  margin-left: 500px;
}

