.log-in-page {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 30px 44px;
  position: relative;
  width: 1440px;
}

.flex-row-13 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 94px;
  min-width: 1347px;
  position: relative;
}

.place-6 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  width: 107px;
}

.flex-col-10 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 357px;
  min-height: 90px;
  width: 260px;
}

.more-resources-59 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 43px;
  width: 260px;
}

.voucher-tools-1 {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 43px;
  text-align: right;
  width: 260px;
}

.log-in-1 {
  color: var(--black);
  font-weight: 500;
  margin-left: 7.0px;
  margin-top: 65px;
  min-height: 111px;
  width: 235px;
}

.were-happy-youre-b {
  letter-spacing: 0;
  line-height: 30px;
  margin-right: 11.0px;
  min-height: 158px;
  text-align: center;
  width: 929px;
}

.profile-completion {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 4.0px;
  margin-top: 59px;
  min-width: 120px;
}

.overlap-group1-45 {
  align-items: flex-end;
  background-color: var(--amazon);
  border-radius: 8px;
  box-shadow: 3px 3px 4px #00000026;
  display: flex;
  height: 48px;
  min-width: 118px;
  padding: 9px 22px;
}

.log-in-2 {
  letter-spacing: 0;
  min-height: 29px;
  min-width: 70px;
}

