.more-resources-24 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  margin-left: 440px;
  min-width: 184px;
}

.more-resources-25 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 25px;
  width: 184px;
}

.more-resources-24.more-resources-30 {
  left: 1214px;
  margin-left: unset;
  position: absolute;
  top: 28px;
}

.more-resources-24.more-resources-30 .more-resources-25 {
  cursor: unset;
}

