.regional-access-points-v2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-left: 115px;
  min-height: 564px;
  padding: 31px;
  position: relative;
  width: 1011px;
}

.regional-access-poin {
  letter-spacing: 0;
  min-height: 35px;
}

