.tool-question-screen-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  height: 564px;
  min-width: 1011px;
  padding: 0 10px;
}

.overlap-group1-44 {
  height: 525px;
  position: relative;
  width: 985px;
}

.overlap-group-66 {
  height: 525px;
  left: 0;
  position: absolute;
  top: 0;
  width: 985px;
}

.obot {
  left: 43px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.click-next-to-cont {
  left: 469px;
  letter-spacing: 0;
  position: absolute;
  top: 314px;
  width: 516px;
}

.tutorial-1 {
  height: 385px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 140px;
  width: 431px;
}

.skip {
  cursor: pointer;
  left: 916px;
  letter-spacing: 0;
  position: absolute;
  top: 469px;
  width: 69px;
}

