.account-page-alt-v2-my-resources-click {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-82 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 88px;
  margin-left: 20.75px;
  min-width: 1385px;
  position: relative;
}

.overlap-group5-15 {
  height: 850px;
  margin-right: -110px;
  margin-top: 54px;
  position: relative;
  width: 1393px;
}

.name-4 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 204px;
  width: 239px;
}

.overlap-group4-21 {
  height: 850px;
  left: 93px;
  position: absolute;
  top: 0;
  width: 1300px;
}

.rectangle-1-3 {
  border-radius: 5px;
  height: 109px;
  left: 0;
  position: absolute;
  top: 347px;
  width: 941px;
}

.line-4-2 {
  height: 850px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 3px;
}

.rectangle-10 {
  background-color: var(--polar);
  border-radius: 5px;
  height: 368px;
  left: 299px;
  position: absolute;
  top: 13px;
  width: 845px;
}

.overlap-group2-46 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  left: 538px;
  min-height: 242px;
  padding: 14px 9px;
  position: absolute;
  top: 54px;
  width: 589px;
}

.housing-choice-vouchers-12 {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 35px;
}

.the-housing-choice-v-13 {
  color: var(--black);
  font-family: var(--font-family-libre_baskerville);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 9px;
  margin-top: 12px;
  min-height: 112px;
  width: 495px;
}

.overlap-group-90 {
  align-self: flex-end;
  background-color: var(--polar);
  border-radius: 10px;
  box-shadow: 3px 3px 4px #00000026;
  height: 49px;
  margin-top: 6px;
  position: relative;
  width: 291px;
}

.remove-from-resources {
  color: var(--hippie-blue);
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-weight: 500;
  left: 30px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 253px;
}

.exit-1 {
  color: var(--shakespeare);
  font-family: var(--font-family-roboto);
  font-size: 19px;
  font-weight: 500;
  left: 1069px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 46px;
}

.bix-4 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 1103px;
  padding: 6.0px;
  position: absolute;
  top: 22px;
  width: 24px;
}

.vector-129 {
  height: 11px;
  width: 11px;
}

.saved-voucher-tool-data-2 {
  left: 317px;
  letter-spacing: 0;
  position: absolute;
  top: 33px;
  width: 256px;
}

