.voucher-tool-v3-disqualifications {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 28px 0;
  width: 1440px;
}

.flex-row-64 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  margin-right: 4.0px;
  min-width: 1360px;
  position: relative;
}

.overlap-group2-39 {
  align-self: flex-end;
  height: 112px;
  margin-right: -5px;
  margin-top: 70px;
  position: relative;
  width: 1440px;
}

.voucher-tool-22 {
  color: var(--black);
  font-weight: 500;
  left: 513px;
  position: absolute;
  top: 0;
  width: 405px;
}

.line-1-22 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 1440px;
}

.flex-row-65 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 564px;
  margin-left: 44px;
  margin-top: 28px;
  min-width: 1182px;
  position: relative;
}

.tutorial-buttons-container-21 {
  align-items: flex-start;
  display: flex;
  height: 78px;
  margin-right: 6.0px;
  margin-top: 24px;
  min-width: 1348px;
}

.tutorial-buttons-106 {
  align-self: flex-end;
  cursor: pointer;
  height: 77px;
  width: 99px;
}

.tutorial-buttons-107 {
  cursor: pointer;
  height: 77px;
  margin-left: 1150px;
  width: 99px;
}

