.resource-section-housing-1 {
  align-items: flex-start;
  background-color: var(--hippie-blue);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 36px;
  min-height: 208px;
  padding: 12px 21px;
  width: 1293px;
}

.name {
  letter-spacing: 0;
  min-height: 40px;
  width: 839px;
}

.overlap-group2-3 {
  height: 111px;
  margin-top: 13px;
  position: relative;
  width: 1247px;
}

.kcha-helps-renters-i {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  width: 1217px;
}

.rectangle-27-1 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 4px #00000080;
  cursor: pointer;
  height: 50px;
  left: 1025px;
  position: absolute;
  top: 61px;
  width: 222px;
}

.link-to-resource-1 {
  color: var(--hippie-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 1042px;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
  width: 187px;
}

